<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <% include ../partials/head %>

  <body>
    <% include ../partials/header %>

    <%- body %>

    <% include ../partials/footer %>
    <%- script %>

<script type="text/javascript">
console.log('Welcome home!');
</script>

</body>
</html>
